<app-header></app-header>
<!-- <p>contact works!</p> -->
<div class="container">
  <h3>Drop mail to us</h3>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Feedback</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Your feedback"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="my-5"></div>
  <h2>Contact Us</h2>
  <p>
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Connect Now
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <h6>Head office Address: 1234, ABC, New York</h6>

      Email: levisusa@gmail.com <br />
      Phone No: +1 (708) 123456<br />
      <br />
      <h6>India office Address: 1234, ABC, New Delhi</h6>

      Email: levisindia@gmail.com <br />
      Phone No: +91 9696874105<br />
    </div>
  </div>
</div>

<app-footer></app-footer>
